<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for group in groups %}
  <p><b>Group name</b>: {{ group.name }}</p>
    {% for teacher in group.teacher.all %}
<p><b>Teacher</b>: {{ teacher.first_name }} {{ teacher.last_name }}</p>
    {% endfor %}
<br>
{% endfor %}
</body>
</html>