<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for group in groups %}
  <p><b>Group name</b>: {{ group.name }}</p>
  <p><b>Count of students</b>: {{ group.count }}</p>
  <p><b>Average age of students</b>: {{ group.average }} years.</p>
  <p>Oldest student is {{ group.max_age }} years old.</p>
  <p>Younger student is {{ group.min_age }} years old.</p>
    {% for teacher in group.teacher.all %}
      <p><b>Teacher</b>: {{ teacher.first_name }} {{ teacher.last_name }}</p>
    {% endfor %}
<br>
{% endfor %}
</body>
</html>