<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for teacher in groups %}
  <p><b>Teacher</b>: {{ teacher.first_name }} {{ teacher.last_name }}</p>
    <b>Group name</b>:
    {% for name in teacher.group.all %}
      <p>{{ name }}</p>
    {% endfor %}
  <p><b>Teacher email</b>: {{ teacher.email }}</p><br>
{% endfor %}
</body>
</html>