{% extends 'base.html' %}

{% block title%}
Astronaut
{% endblock %}

{% block content_title%}
At now in space {{ men['number'] }} men
{% endblock %}

{% block content%}
<ol>
    {% for men in men['people'] %}
    <li>{{ men['name'] }}</li>
    {% endfor %}
</ol>
{% endblock %}