<form method="post">
    {% for field in form %}
        <div class="form-row">
            <div class="col-md-9">
                <label for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            </div>
        </div>
    <p>{{ field.errors }}</p>
    {% endfor %}
  <button type="submit" class="btn btn-primary">Add</button>
</form>
