{% extends 'base.html' %}

{% block title%}
Create genre
{% endblock %}

{% block content_title%}
New genre
{% endblock %}

{% block content%}
<h3>If after push the button your are still here, genre is exists.<br>
    Please enter another value. All genres in list below.</h3>

{% include 'form.html' %}

<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
    {% for genre in genres %}
        <tr>
            <td>{{ genre.id }}</td>
            <td>{{ genre.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}