{% extends 'base.html' %}

{% block title%}
User
{% endblock %}

{% block content_title%}
User names and mails
{% endblock %}

{% block content%}
    <h2>Enter the count of users which you want to see</h2>
        <form class="form-inline" method="get">
            <input class="form-control" name="value" type="number" placeholder="Default value 100">
        </form>
        <ol>
            {% for user in users %}
            <li>{{ user }}</li>
            {% endfor %}
        </ol>
{% endblock %}