{% extends 'base.html' %}

{% block title%}
Create author
{% endblock %}

{% block content_title%}
New author
{% endblock %}

{% block content%}
<form method="post">
  <div class="form-row">
      <div class="col-md-9 mb-3">
          <label for="name">Author name</label>
          <input type="text" class="form-control" name="name" id="name" required>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Add author</button>
</form>
{% endblock %}