{% extends 'base.html' %}

{% block title%}
Create book
{% endblock %}

{% block content_title%}
Create new book
{% endblock %}

{% block content%}
<form method="post">
  <div class="form-row">
      <div class="col-md-12 mb-3">
          <label>Name of the book</label>
          <input type="text" class="form-control" name="name" id="name" required>
      </div>
  </div>
  <div class="form-row">
      <h3>
          Chose author and genre from list. <br>
          If author or genre is not exists in list. <br>
          Add them and go back. <br>
      </h3>
          <a class="nav-link" href="{{ url_for('create_author') }}">Add author</a>
          <a class="nav-link" href="{{ url_for('create_genre') }}">Add genre</a>
      <div class="form-group col-md-7 mb-3">
          <label for="author">Author</label>
          <select multiple class="form-control" id="author" name="author" required>
              {% for author in authors %}
              <option>{{ author[0] }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group col-md-5 mb-3">
          <label for="genre">Genre</label>
          <select multiple class="form-control" id="genre" name="genre" required>
              {% for genre in genres %}
              <option>{{ genre[0] }}</option>
              {% endfor %}
          </select>
      </div>
  <div class="form-row">
      <div class="col-md-6 mb-3">
          <label for="year">Year</label>
          <input type="number" class="form-control" name="year" id="year" min="1" required>
      </div>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Add book</button>
</form>
{% endblock %}