{% extends 'base.html' %}

{% block title%}
Create genre
{% endblock %}

{% block content_title%}
New genre
{% endblock %}

{% block content%}
<h3>If after push the button your are still here, genre is exists.<br>
    Please enter another value. All genres in list below.</h3>
<form method="post">
  <div class="form-row">
      <div class="col-md-9 mb-3">
          <label for="name">Name of the new genre</label>
          <input type="text" class="form-control" name="name" id="name" required usemap="">
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Add genre</button>
</form>
{% endblock %}