{% extends 'base.html' %}

{% block title%}
Home
{% endblock %}

{% block content_title%}
Flask tasks
{% endblock %}

{% block content%}
    <div class="list-group">
        <a href="{{ url_for('displays_file_content') }}" class="list-group-item list-group-item-action">Packages</a>
        <a href="{{ url_for('generate_users') }}" class="list-group-item list-group-item-action">Users</a>
        <a href="{{ url_for('men_in_space') }}" class="list-group-item list-group-item-action">Astronauts</a>
        <a href="{{ url_for('library') }}" class="list-group-item list-group-item-action">Library</a>
    </div>
{% endblock %}

