{% extends 'base.html' %}

{% block title%}
Package
{% endblock %}

{% block content_title%}
Installed packages for correct work of our application:
{% endblock %}

{% block content%}
<ol>
    {% for package in packages %}
    <li>{{ package }}</li>
    {% endfor %}
</ol>
{% endblock %}