{% extends 'base.html' %}

{% block title%}
Update book
{% endblock %}

{% block content_title%}
Update book
{% endblock %}

{% block content%}
<form method="post">
  <div class="form-row">
      <div class="col-md-12 mb-3">
          <label>Name of the book</label>
          <input type="text" class="form-control" name="name" id="name" value="{{ book[0] }}" required>
      </div>
  </div>
  <div class="form-row">
      <h3>
          Chose author and genre from list. <br>
          If author or genre is not exists in list. <br>
          Add them and go back. <br>
      </h3>
          <a class="nav-link" href="{{ url_for('create_author') }}">Add author</a>
          <a class="nav-link" href="{{ url_for('create_genre') }}">Add genre</a>
      <div class="form-group col-md-7 mb-3">
          <label for="author">Author</label>
          <select multiple class="form-control" id="author" name="author">
              <option value="{{ book[1] }}" selected>{{ book[1] }}</option>
              {% for author in authors %}
                  {% if author[0] != book[1] %}
                    <option>{{ author[0] }}</option>
                  {% endif %}
              {% endfor %}
          </select>
      </div>
      <div class="form-group col-md-5 mb-3">
          <label for="genre">Genre</label>
          <select multiple class="form-control" id="genre" name="genre">
              <option value="{{ book[2] }}" selected>{{ book[2] }}</option>
              {% for genre in genres %}
                  {% if genre[0] != book[2] %}
                      <option>{{ genre[0] }}</option>
                  {% endif %}
              {% endfor %}
          </select>
      </div>
  <div class="form-row">
      <div class="col-md-6 mb-3">
          <label for="year">Year</label>
          <input type="number" class="form-control" name="year" id="year" min="1" value="{{ book[-1] }}" required>
      </div>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Add book</button>
</form>
{% endblock %}