<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('render_home_page') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('displays_file_content') }}">Packages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('generate_users') }}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('men_in_space') }}">Astronauts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('library') }}">Library</a>
        </li>
    </ul>
    <div class="container">
        <h1>{% block content_title%}{% endblock %}</h1>

        {% block content%}{% endblock %}
    </div>
</body>
</html>