{% extends 'base.html' %}

{% block title%}
Create book
{% endblock %}

{% block content_title%}
Create new book
{% endblock %}

{% block content%}
<h3>
    Chose author and genre from list. <br>
    If author or genre is not exists in list. <br>
    Add them and go back. <br>
</h3>

{% include 'form.html' %}

{% endblock %}