{% extends 'base.html' %}

{% block title%}
Library
{% endblock %}

{% block content_title%}
Library
{% endblock %}

{% block content%}
<h3>All books from library.</h3>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('create_book') }}">Add book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('create_author') }}">Add author</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('create_genre') }}">Add genre</a>
    </li>
</ul>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name of the book</th>
      <th scope="col">Author</th>
      <th scope="col">Genre</th>
      <th scope="col">Year</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
      <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.author.name }}</td>
        <td>
          <a href="/genre/{{ book.genre.id }}">{{ book.genre.name }}</a>
        </td>
        <td>
          <a href="/year/{{ book.year }}">{{ book.year }}</a>
        </td>
        <td>
          <a class="btn btn-outline-info btn-sm" href="/update/book/{{ book.id }}">Update</a>
        </td>
        <td>
          <form method="post" action="/delete_book/">
            <input type="hidden" value="{{ book.id }}" name="book.id">
            <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

